body{margin: 0;}
#main p{
    color: white;
    font-size: 300px;
    text-align: center;
    margin: 0;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    weight: 100vw;
    background-color: slategray;
}
